pheonix/production/release-linux-1.0.2.zip
pheonix/production/release-macos-1.0.2.zip
pheonix/production/release-win-1.0.2.zip
pheonix/production/pheonixBox-win
pheonix/production/pheonixBox-win-hash.txt
pheonix/production/pheonixBox-macos-hash.txt
pheonix/production/pheonixBox-macos
pheonix/production/pheonixBox-linux-hash.txt
pheonix/production/pheonixBox-linux
/pheonix/production/Test
